.actionButtonDiv {
    text-align: center;
    margin-top: 20px;
}

.actionButton {
    color: white;
    border-radius: 10px;
    background-color: #8357C5;
    width: 80%;
    padding: 1.5rem;
    font-size: 1.4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    border-bottom: .5rem solid rgb(89, 59, 138);
}

.actionButton:disabled,
.actionButton[disabled] {
    opacity: 0.5;
}