.ReactModalPortal > div {
    opacity: 0;
}



.ReactModalPortal .ReactModal__Overlay {
    opacity: 1;
    display: flex;
    justify-content: center;
    transition: all 200ms ease-in-out;
}


.ReactModal__Overlay .ReactModal__Overlay--after-open {
    opacity: 1;
    display: flex;
    justify-content: center;
    transition: all 200ms ease-in-out;
}

